fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
redis==5.0.1
rq==1.15.0
PyYAML==6.0.1
PyMuPDF==1.23.21
presidio-analyzer[transformers]==2.2.353
spacy==3.7.4
torch==2.2.0
transformers==4.37.2
sentencepiece==0.1.99
protobuf==4.25.2
python-docx==1.1.0
google-api-python-client==2.118.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
itsdangerous==2.2.0